

body{
    width: 100% ;
    height:99% ;
    padding: 0;
    margin: 0;
    background: url(back2.jpg);
    font-family: Helvética, sans-serif;
    min-width: 1250px;
}

#cabecalho{
    text-align: center;
    width: 100%;
    margin: 1em auto 2em auto;
}

.link-cabecalho1, .link-cabecalho4{
    color: #fff;
    background: #c3a06e;
    text-decoration: none;
    border-radius: 25px;
    padding: 0.5%;
    border: 1px solid #964b00;
    font-size: ;
}

.link-cabecalho2, .link-cabecalho3{
    text-decoration: none;
    color: #000;
    font-size: ;

    
}

.link-cabecalho2:hover{
    color: #fff;
    background: #c3a06e;
    border-radius: 25px;
    padding: 0.2em;
    border: 1px solid #964b00;
    font-size: 1.2em;
}

.link-cabecalho3:hover{
    color: #fff;
    background: #c3a06e;
    border-radius: 25px;
    padding: 0.2em;
    border: 1px solid #964b00;
    font-size: 1.2em;
}

#global{
    display: flex;
    width: 96%;
    height: 70vh;
    margin: 3.4% auto 7.3% auto;
}

#tela-pc{
    width: 48%;
    height: 65vh;
    margin: 1% auto 1% auto;
    background-image: url(PC3.jpg);
    background-size: 101%;
    background-repeat: no-repeat;
    background-position: fixed;
    border: 2px solid #c3a06e;
    border-radius: 45px;
}

#botoes-curiosidades{
    margin: 2% 4% 0 4% ;
    width: 91%;
}

#botoes-curiosidades button{
    width: 11.3%;
    margin: 0 1% 0 3.4%;
    border-radius: 45px;
    padding: 1%;
    border: 3px solid #964b00;
    background: #c3a06e;
    color: #fff;
    font-size: 80%;
}

#botoes-curiosidades button:hover{
    background: #964b00;
    color: #f5f5f5;
    font-weight: bold;
    border: 1px solid #c3a06e;

}

#tela-input-pc{
    width: 68.7%;
    height: 33.9vh;
    margin: 0 1% 6.5% 16%;
}

#tela-input-pc input{
    width: 98.3%;
    height: 33.3vh;
    color: #964b00;
    border: none;
    background-color: transparent;
}

#tela-input-pc input::placeholder{
    color: #964b00;
}

.botoes-on-off{
    width: 83.2%;
    height: 7%;
    margin: 0 1% 1% 1%;
}
.botoes-on-off button{
    width: 20%;
    padding: 4%;
    height: 0;
    margin: 1% 1.5% 1% 1.5%;
    border-radius: 45px;
}

#ordenar-botoes{
    width: 20%;
    height: 80%;
    display: flex;
    margin: 1% 0 1% auto;
}

#btn-1{
    background: #fff;
    margin-left: 45% ;
}

#btn-1:hover{
    background: #f5f5f5;
}

#btn-2{
    background: #ff0000;
}

#btn-2:hover{
    background: #8b0000;
}

#gifs{
    width: 48%;
    height: 65vh;
    margin: 1% auto 1% auto;
    display: flex;
    background-color: #f5f5f5;
    border: 2px dotted #964b00;
    border-radius: 45px;
}

#conteudo-gif{
    margin: auto 1% auto 3%;
    align-items: center;
}

#conteudo-gif img{
    width: 25%;
    margin: 1% 3.5%;
    border-radius: 45px;
    border: 1px solid #964b00;
}

#gif-3{
    height: 10.2em;
}

 /* ------------------------------------------------------------  PÁGINA 2* --------------------------------------------------------------------*/

#geral{
    width: 98%;
    margin: 2% auto 1% auto;
    display: flex;
}

#parte-1{
    width: 95%;
    margin: 1em 0.5em 1em auto;
    border-radius: 45px;
    border: 2px solid #964b00;
    background: #f5f5f5;
    opacity: 0.9;

}
#parte-2{
    width: 95%;
    margin: 1em auto 1em 0.5em;
    border-radius: 45px;
    border: 2px solid #964b00;
    background: #f5f5f5;
    opacity: 0.9;
}

#conteudo-1-part-1{
    width: 90%;
    margin: 1em auto 2em auto;
    border: 2px solid #964b00;
    display: flex;
    background: #c3a06e;
    border-radius: 45px;
    opacity: 0.8;
}

#conteudo-1-part-1:hover{
    border: 3px solid #c3a06e;
    background: #964b00;
}

#conteudo-1-part-2{
    width: 90%;
    margin: 1em auto 2em auto;
    border: 2px solid #964b00;
    border-radius: 45px;
    background: #f5f5f5;
    color: #964b00;
    
}
#conteudo-1-part-1 h2{
    margin: 0.4em auto 0.4em auto;
    font-size: 160%;
    border: 1px solid #964b00;
    background: #c3a06e;
    color: #fff;
    padding: 0.2em;
    border-radius: 45px;
    opacity: 0.9;
}

#conteudo-1-part-1 h2:hover{
    border: 2px solid #c3a06e;
    background: #964b00;
}

#conteudo-2-part-1{
    width: 90%;
    border: 2px solid  #964b00;
    margin: 1em auto 1em auto;
    border-radius: 45px;
    background: #c3a06e;
    opacity: 0.8;
}

#botoes{
    width: 90%;
    margin: 0.5em auto 2em auto;
}

#botoes button{
    margin: 0 1em 0 1em;
    width: 2.5%;
    padding: 0.5em;
    border-radius: 45px;
    background: #f5f5f5;
    border: 0.5px solid #964b00;
}

#botoes button:hover{
    background: #964b00;
}

#tela-botoes{
    width: 90%;
    border: 1px solid #964b00;
    margin: 0.5em auto 1.5em auto;
    border-radius: 45px;
}

#tela-botoes input{
    width: 99%;
    height: 26em;
    border-radius: 45px;
    border: 1px solid #964b00;
    
}

#conteudo-2-part-2{
    width: 90%;
    border: 1px solid #964b00;
    margin: 1em auto 1em auto;
    background: #c3a06e;
    opacity: 0.7;
    border-radius: 45px;
    display: flex;
}

#conteudo-2-part-2:hover{
    background: #964b00;
    border: 1.5px solid #f5f5f5;
}

#conteudo-2-part-2 h4{
    margin: 1em 0 1em 2.5em;
    color: #f5f5f5;
    width: 30%;
}

#conteudo-2-part-2 h4:hover{
    color: #fff;
}

#conteudo-2-part-2 a{
    margin: auto 0.4em auto 0.19em;
    padding: 0;
    width: 5%;
}

#conteudo-2-part-2 img{
    width: 40%;
    border: 1px solid #f5f5f5;
    padding: 0.5em;
    border-radius: 45px;

}

#conteudo-2-part-2 img:hover{
    background: #c3a06e;
}

footer{
    margin-top: 2%;
}

#footer-geral{
    width: 92%;
    margin: -1.9% auto 0 auto;
}


#rodape-geral{
    border: 2px solid #964b00;
    border-radius: 45px;
    background: #c3a06e;
    display: flex;
    width: 90%;
    margin: 1em auto 0.3em auto;
}

#rodape-geral p{
    display: flex;
    margin-right: 1.5%;
    margin-left: 0.4%;
    color: #f5f5f5;
    font-size: 85%;

}

#rodape-geral a{
    text-decoration: none;
    color: #f5f5f5;
    
}

#rodape-geral a:hover{
    background: #f5f5f5;
    padding: 0 0.35em 0 0.5em;
    border-radius: 45px;
    color: #964b00;
}

#img-do-relogio{
    
    width: 5%;
    margin: auto 0 auto 5%;
}

#img-do-relogio img{
    width: 57%;
    height: 57%;
    margin: 0.1em 0.1em -1% 0.1em;
    border-radius: 45px;
    
}

#input-hora{
    border: 1px solid black;
    margin: 0.5% 0 0 0;
    width: 20%;
    height: 1.6em;
    border-radius: 45px;
    border: 0 solid #c3a06e;

}

#input-hora input{
    margin: 1% auto auto 2.5%;
    width: 92%;
    height: 1.2em;
    background: #c3a06e;
    border: 0 solid #c3a06e;
    color: #f5f5f5;
}
